.horizontalClassContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
}

.classText {
    background: BLACK;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Palatino", sans-serif;
    text-align: start;
    font-size: 18pt;
    margin-right: 10px;
}

.quarterText {
    background: BLACK;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Palatino", sans-serif;
    text-align: start;
    font-size: 30pt;
    font-weight: 1000;
    margin-top: 20px;
}


.schoolTitle {
    background: RED;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Copperplate', sans-serif;
    text-align: left;
    font-size: 50pt;
}